@font-face {
  font-family: BillBoard;
  src: url(./fonts/Neonderthaw-Regular.ttf);
}
@font-face {
  font-family: RegularNeon;
  src: url(./fonts/TiltNeon-Regular.ttf);
}

/* * {
  border: 2px solid yellow;
} */
body {
  margin: 0;
  font-family: RegularNeon;
  display: flex;
  flex-direction: column;
}
header {
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./image_resources/dark-brick-wall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #2c2b2b;
  font-family: BillBoard;
  font-size: 200px;
  text-shadow: 0 0 0px white;
  animation: lightUp 2s 1s 1 ease-in;
  animation: glow 1.5s 2s infinite alternate;
}

@keyframes lightUp {
  from {
    color: #2c2b2b;
    text-shadow: 0 0 0px white;
  }

  50% {
    color: rgb(201, 201, 201);
    text-shadow: 0 0 6px white;
  }
  to {
    color: white;
    text-shadow: 0 0 20px white;
  }
}

@keyframes glow {
  from {
    color: rgb(152, 150, 150);
    text-shadow: 0 0 8px white;
  }
  to {
    color: white;
    text-shadow: 0 0 20px white;
  }
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: RegularNeon;
  font-size: 50px;
  z-index: 1;
}

li {
  color: rgb(148, 144, 144);
  padding: 5px 10px;
  border: 2px black solid;
  transition-property: color border border-radius transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#listItem1 {
  animation: flyUp 4s ease-in 1;
}

#listItem2 {
  animation: flyUp 4.5s ease-in 1;
}

#listItem3 {
  animation: flyUp 5s ease-in 1;
}

#listItem4 {
  animation: flyUp 5.5s ease-in 1;
}

li:hover {
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

@keyframes flyUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

main {
  position: relative;
}

section {
  padding: 0 30px 0 30px;
  margin-top: 150px;
  margin-bottom: 150px;
}

button.scrollUpBtn {
  position: fixed;
  display: none;
  right: 5vw;
  bottom: 10vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 2px black solid;
  transition-property: transform box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.scrollUpBtn:hover {
  box-shadow: 2px 2px black;
  transform: scale(1.04);
}

#section1 {
  display: flex;
  flex-direction: column;
}
#section1 > div {
  display: flex;
}
#section1 > div > img {
  width: 40%;
}
/* #section1 > img {
  width: 70%;
} */
.aboutContainer {
  margin: 20px;
}

h2 {
  font-size: 70px;
}

p {
  font-size: 25px;
}

.projectContainer {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 620px);
  gap: 50px;
}

.projectsItem {
  height: 680px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 30%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  overflow: hidden;
  z-index: 1;
}

.projectsItem:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 45%);
}

.projectsItem > img {
  height: 400px;
  transition: all 0.5s;
}
.projectsItem > p {
  font-size: 21px;
}
.projectsItem > img:hover {
  transform: scale(1.1);
}
.Ico {
  width: 55px;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.Ico:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.notActv {
  transition: none;
  opacity: 40%;
}
.notActv:hover {
  transform: scale(1);
  cursor: auto;
}
.projectsItem > div {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
#section2 > img {
  padding: 50px;
  width: 200px;
}
#section4 {
  background-color: black;
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

#section4 > h2 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 60px 120px 120px 400px 120px;
  justify-content: center;
}
form > button {
  align-self: center;
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 40px;
  border-radius: 25px;
  margin-left: 35%;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  transition-property: transform border-radius;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

form > button:hover {
  transform: scale(1.03);
  border-radius: 15px;
}
input {
  height: 80px;
}
input,
textarea {
  width: 600px;
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 5px;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 20px white;
}
#section4 > div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#section4 > div > a > img {
  margin: 50px;
  width: 100px;
}
#section4 > p {
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}

legend {
  width: 200px;
}
@media (max-width: 1370px) {
  p {
    font-size: 24px;
  }
  #section1 > div {
    flex-direction: column;
  }
  #section1 > div > img {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 120px;
  }
  ul {
    padding-left: 0;
    font-size: 30px;
  }
  #section1 {
    flex-direction: column;
  }

  #section2 > img {
    padding: 20px;
    width: 120px;
  }
  #section4 > p {
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 750px) {
  .projectContainer {
    padding-left: 20px;
  }
  input,
  textarea {
    width: 550px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 100px;
  }
  ul {
    font-size: 20px;
    padding-left: 0;
  }
  section {
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  #section1 {
    flex-direction: column;
    font-size: 16px;
  }

  .aboutContainer {
    margin-left: 0;
    margin-right: 0;
  }
  .aboutContainer > p {
    font-size: 16px;
  }
  h2 {
    font-size: 40px;
  }
  #section2 > img {
    padding: 20px;
    width: 60px;
  }
  #section3 > p {
    font-size: 16px;
  }
  .projectContainer {
    padding-left: 30px;
    grid-template-columns: repeat(auto-fit, 280px);
  }
  .projectsItem {
    height: 500px;
  }

  .Ico {
    width: 35px;
  }
  #section4 > p {
    margin: 0;
    font-size: 20px;
  }
  form {
    padding-right: 20px;
    padding-top: 20px;
    grid-template-columns: 200px;
    grid-template-rows: 30px 70px 70px 350px 70px;
  }
  input,
  textarea {
    width: 230px;
  }
  input {
    height: 50px;
  }
  textarea {
    height: 280px;
  }
  form > button {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 0;
    width: 160px;
    height: 70px;
  }

  #section4 > div > a > img {
    margin: 30px;
    width: 60px;
  }
  button.scrollUpBtn {
    width: 60px;
    height: 60px;
  }
  button.scrollUpBtn > img {
    height: 80%;
  }
}
