@font-face {
  font-family: BillBoard;
  src: url(Neonderthaw-Regular.ttf);
}
@font-face {
  font-family: RegularNeon;
  src: url(TiltNeon-Regular.ttf);
}

body {
  margin: 0;
  font-family: RegularNeon;
  display: flex;
  flex-direction: column;
}
header {
  background-color: black;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(dark-brick-wall.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: #2c2b2b;
  font-family: BillBoard;
  font-size: 200px;
  text-shadow: 0 0 0px white;
  animation: lightUp 2s 1s 1 ease-in;
  animation: glow 1.5s 2s infinite alternate;
}

@keyframes lightUp {
  from {
    color: #2c2b2b;
    text-shadow: 0 0 0px white;
  }

  50% {
    color: rgb(201, 201, 201);
    text-shadow: 0 0 6px white;
  }
  to {
    color: white;
    text-shadow: 0 0 20px white;
  }
}

@keyframes glow {
  from {
    color: rgb(152, 150, 150);
    text-shadow: 0 0 8px white;
  }
  to {
    color: white;
    text-shadow: 0 0 20px white;
  }
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: RegularNeon;
  font-size: 50px;
}

li {
  color: rgb(148, 144, 144);
  padding: 5px 10px;
  border: 2px black solid;
  transition-property: color border border-radius transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

#listItem1 {
  animation: flyUp 4s ease-in 1;
}

#listItem2 {
  animation: flyUp 4.5s ease-in 1;
}

#listItem3 {
  animation: flyUp 5s ease-in 1;
}

#listItem4 {
  animation: flyUp 5.5s ease-in 1;
}

li:hover {
  color: white;
  border: 2px white solid;
  border-radius: 4px;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

@keyframes flyUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

main {
  position: relative;
}

section {
  padding: 50px;
  margin-top: 150px;
  margin-bottom: 150px;
}

button.scrollUpBtn {
  position: fixed;
  display: none;
  right: 5vw;
  bottom: 10vh;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 2px black solid;
  transition-property:transform box-shadow ;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}

.scrollUpBtn:hover {
  box-shadow: 2px 2px black;
  transform: scale(1.04);
}

#section1 {
  display: flex;
}

.aboutContainer {
  margin: 20px;
}

.myImage {
  height: 800px;
}

h2 {
  font-size: 70px;
}

p {
  font-size: 26px;
}

.projectContainer {
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  gap: 50px;
}

.projectsItem {
  height: 600px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 30%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15px;
  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

.projectsItem:hover {
  transform: scale(1.03);
}

/* .projectsItem > img:hover {
  transform: scale(1.03);
} */
.Ico {
  width: 60px;
  transition-property: transform;
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
}
.Ico:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.projectsItem > div {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
#section2 > img {
  padding: 50px;
  width: 200px;
}
#section4 {
  background-color: black;
  color: white;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

#section4 > h2 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 60px 120px 120px 400px 120px;
  justify-content: center;
}
form > button {
  align-self: center;
  color: white;
  background-color: black;
  border: 2px solid white;
  font-size: 40px;
  border-radius: 25px;
  margin-left: 35%;
  margin-top: 20px;
  width: 200px;
  height: 100px;
  transition-property: transform border-radius;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

form > button:hover {
  transform: scale(1.03);
  border-radius: 15px;
}
input {
  height: 80px;
}
input,
textarea {
  width: 600px;
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: 5px;
}
input:focus,textarea:focus{
  box-shadow: 0 0 20px white;
}
#section4 > div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#section4 > div > img {
  margin: 50px;
  width: 100px;
}
#section4>p{
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
}